<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CFT.Apollo.Common" version="3.1.5477.31814" targetFramework="net40" />
  <package id="CFT.Apollo.log4net" version="1.0.0.15" targetFramework="net40" />
  <package id="CFT.Apollo.Logging" version="1.0.5444.18012" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="SunLibrary" version="1.1.5280.31038" targetFramework="net40" />
</packages>