<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CFT.Apollo.Common" version="3.1.5477.31814" targetFramework="net45" />
  <package id="CFT.Apollo.CommunicationFramework" version="3.2.39" targetFramework="net45" />
  <package id="CFT.Apollo.log4net" version="1.0.0.15" targetFramework="net45" />
  <package id="CFT.Apollo.Logging" version="1.0.5444.18012" targetFramework="net45" />
</packages>