<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CFT.Apollo.Common" version="3.1.5494.24496" targetFramework="net40" />
  <package id="CFT.Apollo.CommunicationFramework" version="3.3.0" targetFramework="net40" />
  <package id="CFT.Apollo.Data" version="3.2.39" targetFramework="net40" />
  <package id="CFT.Apollo.log4net" version="1.0.0.15" targetFramework="net40" />
  <package id="CFT.Apollo.Logging" version="1.0.5494.24500" targetFramework="net40" />
  <package id="MySql.Data.Apllo" version="6.95.5494.24500" targetFramework="net40" />
</packages>