<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="CFT.Apollo.CommunicationFramework" type="CFT.Apollo.CommunicationFramework.CFConfigurationSection, CFT.Apollo.CommunicationFramework" />
  </configSections>


  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IGeneralSPOAService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.12.189.114/spoawcf/GeneralSPOAService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGeneralSPOAService" contract="SPOAServiceRef.IGeneralSPOAService" name="WSHttpBinding_IGeneralSPOAService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>


  <appSettings>
    <!--log4net-->
    <add key="log4net.Config" value="Configs\Log4net.config" />
    <add key="log4net.Config.Watch" value="False" />
  </appSettings>
  
  <CFT.Apollo.CommunicationFramework 
    defaultRelayIP="172.25.38.123" 
    defaultICEIP="172.25.39.53" 
    defaultICEUser="rayguo" 
    defaultICEPassword="1111" />
</configuration>