<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>


  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IGeneralSPOAService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.12.189.114/spoawcf/GeneralSPOAService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGeneralSPOAService" contract="SPOAServiceRef.IGeneralSPOAService" name="WSHttpBinding_IGeneralSPOAService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>



  <!--此节需要复制到最终应用程序的WEB.CONFIG 或者 APP.CONFIG文件中-->
  <appSettings>
    <!--log4net-->
    <!--RelayServer Configuration-->
    <!--ICE Server Configuration-->
    <!--RelayServer Configuration--><!--ICE Server Configuration--><add key="log4net.Config" value="Configs\Log4net.config" />
    <add key="log4net.Config.Watch" value="False" />
    <add key="CFRelayServerIP" value="10.12.23.14" />
    <add key="CFRelayServerPort" value="35600" />
    <add key="CFRelayDefaultSPId" value="2000000000" />
    <add key="CFICEServerIP" value="172.25.39.53" />
    <add key="CFICEServerPort" value="6644" />
    <add key="CFICEUsername" value="rayguo" />
    <add key="CFICEPassword" value="1111" />
    <add key="CFTrace" value="true" />
  </appSettings>
</configuration>