<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="CFT.Apollo.Data">
      <section name="ConnectionStringAdapter" type="CFT.Apollo.Data.ConnectionString.ConnectionStringConfigurationSection, CFT.Apollo.Data" />
    </sectionGroup>
  </configSections>




  <!--此节需要复制到最终应用程序的WEB.CONFIG 或者 APP.CONFIG文件中-->
  <appSettings>



    <!--log4net-->
    <!--RelayServer Configuration-->
    <!--ICE Server Configuration-->
    <add key="isTestingMode" value="true" />






    <!--log4net-->
    <add key="log4net.Config" value="Configs\Log4net.config" />
    <add key="log4net.Config.Watch" value="False" />
    <add key="CFRelayServerIP" value="10.12.23.14" />
    <add key="CFRelayServerPort" value="35600" />
    <add key="CFRelayDefaultSPId" value="2000000000" />
    <add key="CFICEServerIP" value="172.25.39.53" />
    <add key="CFICEServerPort" value="6644" />
    <add key="CFICEUsername" value="rayguo" />
    <add key="CFICEPassword" value="1111" />
    <add key="CFTrace" value="true" />
  </appSettings>
  <startup />
  <CFT.Apollo.Data>
    <ConnectionStringAdapter systemNameInMapping="ConnStr.Mapping.KFWeb" mappingDBGlobalKey="KeyMappingDB" relayIP="10.12.23.14" relayPort="35600" />
  </CFT.Apollo.Data>
</configuration>
