<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CFT.Apollo.Common" version="1.0.5436.2324" targetFramework="net40" />
  <package id="CFT.Apollo.CommunicationFramework" version="1.1.5436.29525" targetFramework="net40" />
  <package id="CFT.Apollo.Data" version="1.0.5471.27778" targetFramework="net40" />
  <package id="CFT.Apollo.log4net" version="1.0.0.15" targetFramework="net40" />
  <package id="CFT.Apollo.Logging" version="1.0.5444.18012" targetFramework="net40" />
  <package id="MySql.Data.Apllo" version="6.9.5.32876" targetFramework="net40" />
</packages>