<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--IMC通用接口ID值对应类名|函数名|DLL(无DLL名时，表示访问是KF_SERVICE中服务)-->
  <!--注：value值请按顺序(类名|方法|[DLL])填写-->
  <add key="101001000" value="TENCENT.OSS.CFT.KF.KF_Service.Query_Service|GetUserFundAccountInfo" />
  <add key="101001001" value="TENCENT.OSS.CFT.KF.KF_Service.Query_Service|GetPayCardInfoEx" />
  <add key="101001002" value="TENCENT.OSS.CFT.KF.KF_Service.Query_Service|GetChildrenBankRollList" />
  <add key="101001003" value="TENCENT.OSS.CFT.KF.KF_Service.Query_Service|GetChildrenBankRollListEx" />
  <add key="101001004" value="TENCENT.OSS.CFT.KF.KF_Service.Query_Service|AtuoRenewUnbind" />
  <add key="111001000" value="CFT.CSOMS.BLL.FundModule.FundService|GetUserFundSummary|CFT.CSOMS.BLL.dll" />
  <add key="111001001" value="CFT.CSOMS.BLL.FundModule.FundService|IfAnewBoughtFund|CFT.CSOMS.BLL.dll" />
  <add key="111001002" value="CFT.CSOMS.BLL.FundModule.FundService|GetFundRollList|CFT.CSOMS.BLL.dll" />
  <add key="111001003" value="CFT.CSOMS.BLL.FundModule.FundService|QueryAllFundInfo|CFT.CSOMS.BLL.dll" />
  <add key="111001004" value="CFT.CSOMS.BLL.FundModule.FundService|QueryFundInfoBySpid|CFT.CSOMS.BLL.dll" />
  <add key="111001005" value="CFT.CSOMS.BLL.FundModule.FundService|BindProfitList|CFT.CSOMS.BLL.dll" />
  <add key="111001006" value="CFT.CSOMS.BLL.FundModule.FundService|GetTradeIdByUIN|CFT.CSOMS.BLL.dll" />
  <add key="111001007" value="CFT.CSOMS.BLL.FundModule.FundService|BindBankRollListNotChildren|CFT.CSOMS.BLL.dll" />
</appSettings>