<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TENCENT.OSS.CFT.KF.KF_Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="CFT.Apollo.Data">
      <section name="ConnectionStringAdapter" type="CFT.Apollo.Data.ConnectionString.ConnectionStringConfigurationSection, CFT.Apollo.Data" />
    </sectionGroup>
    <section name="CFT.Apollo.CommunicationFramework" type="CFT.Apollo.CommunicationFramework.CFConfigurationSection, CFT.Apollo.CommunicationFramework" />
  </configSections>
    <appSettings>
      <!--log4net-->
      <add key="log4net.Config" value="Configs\Log4net.config" />
      <add key="log4net.Config.Watch" value="True" />
      <add key="WriteSqlLog" value="false" />
      <add key="LogPort" value="7100" />
      <add key="LogServer" value="172.25.38.8" />
      
      <add key="ICEServerIP" value="172.25.39.53" />
      <!-- ICEServer172.25.39.53-->
      <add key="ICEPort" value="6644" />
      <!--外币系统ICEServer-->
      <add key="ICEServerIP_ia" value="172.25.39.53" />
      <add key="ICEPort_ia" value="7644" />
      <add key="iceUsr" value="rayguo" />
      <add key="icePwd" value="1111" />
      <!--ICE UPwd-->
      <add key="CFTAccount" value="2000000000" />
      <!--理财通查询relay-->
      <add key="FundRateIP" value="10.123.103.130" />
      <add key="FundRatePORT" value="22000" />
  </appSettings>
</configuration>