<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TENCENT.OSS.CFT.KF.KF_Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="CFT.Apollo.Data">
      <section name="ConnectionStringAdapter" type="CFT.Apollo.Data.ConnectionString.ConnectionStringConfigurationSection, CFT.Apollo.Data" />
    </sectionGroup>
    <section name="CFT.Apollo.CommunicationFramework" type="CFT.Apollo.CommunicationFramework.CFConfigurationSection, CFT.Apollo.CommunicationFramework" />
  </configSections>
  <CFT.Apollo.Data>
    <ConnectionStringAdapter systemNameInMapping="CSOMS" mappingDBGlobalKey="KeyMappingDB" relayIP="10.12.23.14" relayPort="35600" />
  </CFT.Apollo.Data>
  
  <appSettings>
    <!--微信买家纬度订单查询 -->
    <add key="WX_Order_RelayIP" value="10.12.199.234" />
    <add key="WX_Order_RelayPort" value="22000" />

<!-- Relay配置-->
    <!--log4net--><add key="log4net.Config" value="Configs\Log4net.config" />
    <add key="log4net.Config.Watch" value="False" />
    <add key="WriteSqlLog" value="false" />
    <add key="LogPort" value="7100" />
    <add key="LogServer" value="172.25.38.8" />
    
    <add key="IgnoreLimitCheck" value="false" />
    <add key="FundRateIP" value="10.123.6.29" />
    <add key="FundRatePort" value="443" />
    <add key="UserOrder_requesttype" value="8020" />

    
  </appSettings>

  <!--apolo配置，没写到这里的配置都是默认值-->
  <CFT.Apollo.CommunicationFramework
    defaultRelayIP="10.12.23.14"
    defaultRelayPort="35600"
    defaultICEIP="172.25.39.53"
    defaultICEUser="rayguo"
    defaultICEPassword="1111"/>
  
</configuration>