<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!--log4net-->
      <add key="log4net.Config" value="Configs\Log4net.config" />
      <add key="log4net.Config.Watch" value="True" />
      <add key="WriteSqlLog" value="false" />
      <add key="LogPort" value="7100" />
      <add key="LogServer" value="172.25.38.8" />
      
      <add key="ICEServerIP" value="172.25.39.53" />
      <!-- ICEServer172.25.39.53-->
      <add key="ICEPort" value="6644" />
      <!--外币系统ICEServer-->
      <add key="ICEServerIP_ia" value="172.25.39.53" />
      <add key="ICEPort_ia" value="7644" />
      <add key="iceUsr" value="rayguo" />
      <add key="icePwd" value="1111" />
      <!--ICE UPwd-->
      <add key="CFTAccount" value="2000000000" />

  </appSettings>
</configuration>