<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="CFT.Apollo.Data">
      <section name="ConnectionStringAdapter" type="CFT.Apollo.Data.ConnectionString.ConnectionStringConfigurationSection, CFT.Apollo.Data" />
    </sectionGroup><section name="CFT.Apollo.CommunicationFramework" type="CFT.Apollo.CommunicationFramework.CFConfigurationSection, CFT.Apollo.CommunicationFramework" /></configSections>
  <appSettings>
        <!--log4net-->
        <add key="log4net.Config" value="Configs\Log4net.config" />
        <add key="log4net.Config.Watch" value="False" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<CFT.Apollo.Data>
    <ConnectionStringAdapter systemNameInMapping="lotteryoms" systemNameInCore="CFT_ZW_ALL" relayIP="10.12.23.14" relayPort="35600" />
  </CFT.Apollo.Data><CFT.Apollo.CommunicationFramework defaultRelayIP="172.25.38.123" defaultICEIP="172.25.39.53" defaultICEUser="rayguo" defaultICEPassword="1111" /></configuration>