<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CFT.Apollo.Bow" version="1.3.7" targetFramework="net40" />
  <package id="CFT.Apollo.Common" version="3.2.3.1" targetFramework="net40" />
  <package id="CFT.Apollo.CommunicationFramework" version="3.3.3.0" targetFramework="net40" />
  <package id="CFT.Apollo.Data" version="3.3.0.4" targetFramework="net40" />
  <package id="CFT.Apollo.log4net" version="1.0.0.15" targetFramework="net40" />
  <package id="CFT.Apollo.Logging" version="1.1.1.1" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="MySql.Data.Apllo" version="6.95.5494.24500" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net40" />
  <package id="SunLibrary" version="1.1.5280.31038" targetFramework="net40" />
</packages>