<connectionStrings>
  <!--基金-->
  <add name="Fund" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.238; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--微信信用卡-->
  <add name="WxCreditCard" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=10.6.206.74; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--汇率信息表-->
  <add name="FCPAY" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=10.6.206.74; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--乐刷卡活动表-->
  <add name="LSKActivity" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.12; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--理财通活动表-->
  <add name="LCTActivity" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.12; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--微信支付活动表-->
  <add name="WXZFActivity" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.12; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />

  <!--账务收款表-->
  <add name="ZWSK" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=10.12.196.176; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--账务基础表-->
  <add name="ZWBasic" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=10.12.196.176; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--账务新表-->
  <add name="ZWNEWTABLE" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.123; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--账务老表-->
  <add name="ZWOLDTABLE" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.123; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  
  <!--公告联系人-->
  <add name="BulletinContacts" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.123; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--理财通手机号段查询-->
  <add name="FundPhoneNo" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=10.6.206.73; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--退款登记查询查询-->
  <add name="RefundRegister" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.6; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
 
  <add name="ZW_DB" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=10.12.196.176; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--自助申诉老库表备机-->
  <add name="CFTB_DB" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.15; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--自助申诉新库表-->
  <add name="CFTNEW_DB" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=10.6.206.73; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />
   <!--证书库-->
  <add name="CRT_DB" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.39.53; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--自助申诉老库表-->
  <add name="CFT_DB" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.15; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />

  <add name="MN_DB" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=10.12.196.166; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <add name="ht_DB" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.6; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />

  <!--pos日表-->
  <add name="ZWNEWTABLE_day" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.123; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />
  <!--流水历史表-->
  <add name="ZWOLDTABLE_history" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.123; Database=mysql; UID=zft_zwdb_all; PWD=zft_zwdb_all;charset=latin1; Option=3" providerName="System.Data.Odbc" />


  <!--杂类数据库2-->
  <add name="BD" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.123; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />

  <!--后台帐务数据库-->
  <add name="HT" connectionString="Driver={mysql ODBC 5.2a Driver}; Server=172.25.38.123; Database=mysql; UID=root; PWD=root1234;charset=latin1; Option=3" providerName="System.Data.Odbc" />
</connectionStrings>